@use "admin/mixins";
@use "admin/variables";

body {
  background-color: variables.$colour-white;
  color: variables.$colour-black;
  @include mixins.dark-mode($background: variables.$colour-dark-mode-main, $color: variables.$colour-dark-mode-white);
}

.wrapper {
  max-width: 25em;
  margin-left: auto;
  margin-right: auto;
  padding: 1em .5em;
}
