<div class="meta">
  <time class="dt-published" datetime="<perch:blog id="postDateTime" type="date" label="Date" time="true" format="Y-m-d H:i:s" divider-before="Meta information" />">
    <perch:blog id="postDateTime" type="date" time="true" format="%d %B %Y" />
  </time>

  <perch:categories id="categories" set="blog" label="Categories" display-as="checkboxes">
    <perch:if exists="perch_item_first"> in</perch:if>
    <a href="/blog/category/<perch:category id="catSlug" type="slug" />">
      <perch:category id="catTitle" type="text" /></a><perch:if exists="perch_item_last"><perch:else />, </perch:if>
  </perch:categories>
</div>

<div class="description e-content">
  <perch:blog id="postDescHTML" type="textarea" label="Post" order="2" editor="markitup" markdown="true" size="xxl autowidth" required="true" />
</div>

<div>
  <a href="/">‹ Back to blog listing</a>
</div>

<perch:blog id="postURL" type="hidden" suppress="true" />
<perch:blog id="postTitle" type="text" label="Title" required="true" size="xl autowidth" order="1" suppress="true" />
<perch:blog id="excerpt" type="textarea" label="Excerpt" markdown="true" order="3" suppress="true" size="s" />
<perch:blog id="image" type="image" width="50" height="50" crop="true" suppress="true" />

<perch:noresults>
  <h1>Uh oh…</h1>
  <p>Looks like the page you were after has been moved, deleted or doesn’t exist. Or maybe there was a typo in the link you followed. Don’t worry – all is not lost! Just use the navigation or search to find the page you were after.</p>
</perch:noresults>