$modularscale: (
  base: 1em,
  ratio: $major-third
);

body {
  font-family: 'Georgia', serif;
  line-height: 1.5;
  font-size: 100%;

  @media (min-width: $xs) {
    font-size: 140%;
  }

  @media (min-width: $s) {
    font-size: 160%;
  }

  @media (min-width: $m) {
    font-size: 140%;
  }

  @media (min-width: $l) {
    font-size: 160%;
  }
}

a {
  color: $colour-primary;

  &:link,
  &:visited {
    text-decoration: none;
  }

  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
  }
}

ul {
  list-style-position: inside;

  @media (min-width: $m) {
    list-style-position: outside;
  }
}

.hfeed {
  list-style-type: none;
}

.dt-published,
.entry-published {
  font-style: italic;
  margin-top: 0;
  margin-bottom: 1em;
}

.entry-summary {

  p {
    margin-bottom: 0;
  }
}

.read-post {
  display: inline-block;
}
