<perch:before>
	<ul class="comments">
</perch:before>
		<li id="comment<perch:blog id="commentID" type="hidden" />">
			<img src="//www.gravatar.com/avatar/<perch:blog id="commentEmail" type="email" label="Email" order="2" hash="md5" required="true" />?s=60&amp;d=mm" width="60" height="60" />
			<p>
				<perch:if exists="commentURL"><a href="<perch:blog id="commentURL" type="url" label="URL" order="3" />"></perch:if>
					<strong><perch:blog id="commentName" type="text" label="Name" order="1" required="true" />:</strong>
				<perch:if exists="commentURL"></a></perch:if>
			</p>
			<perch:blog id="commentHTML" encode="false" html="true" type="textarea" label="Message (HTML)" order="4" required="true" />
			<p rel="bookmark"><perch:blog id="commentDateTime" format="%d %b %Y %X" type="date" time="true" label="Date" /></p>
		</li>
<perch:after>
	</ul>

</perch:after>