body {
  @include dark-mode($background: $colour-dark-mode-main, $color: $colour-dark-mode-white);
  max-width: 25em;
  margin-left: auto;
  margin-right: auto;
  padding: 1em .5em;
  background-color: $colour-white;
  color: $colour-black;
}
