// Layout

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

main {
  display: block;
}


// General styling resets

pre,
code {
  font-size: 100%;
  font-weight: normal;
}

ul,
ol {
  padding-left: 0;
}

pre,
body,
html,
fieldset,
input {
  margin: 0;
  padding: 0;
}

address,
cite {
  font-style: normal;
}

a img,
img,
iframe,
fieldset {
  border: none;
}

legend {
  padding: 0;
  color: black;
}

input,
textarea,
select {
  margin: 0;
  padding: 1px;
  font-size: 100%;
  font-family: inherit;
}

select {
  padding: 0;
}

table {
  border-collapse: collapse;
}

textarea {
  overflow-y: auto;
  resize: none;
}


// Browser styling leveller

input:focus,
textarea:focus {
  outline: none;
}

[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
}

[type="search"] {
  -webkit-appearance: none;
  border-radius: $border-radius-default;
  box-shadow: none;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
textarea {
  -webkit-appearance: none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}

button {
  background-image: none;
}


// Responsive styling

img {
  max-width: 100%;
  height: auto;
}
