@mixin dark-mode($background: null, $color: null) {

  @media screen and (prefers-color-scheme: dark) {

    @if ($background != null and $color != null) {
      background-color: $background;
      color: $color;
    }
    @else if ($background != null and $color == null) {
      background-color: $background;
    }
    @else if ($color != null and $background == null) {
      color: $color;
    }
    @else {
      @content;
    }
  }
}

@mixin remove-list-styling {
  list-style: none;
  padding-left: 0;

  li:before {
    content: "\200B";
    position: absolute;
  }

  ul {
    list-style-type: disc;

    ul {
      padding-left: 1.5em;
    }
  }
}
