// Layout breakpoints
$xs: 20em;
$s: 31em;
$m: 43em;
$l: 57em;
$xl: 72em;

// Light mode colours
$colour-primary: #FD9100;
$colour-primary-lighter: lighten($colour-primary, 5%);
$colour-primary-light: lighten($colour-primary, 40%);
$colour-primary-darker: darken($colour-primary, 5%);
$colour-primary-darkest: darken($colour-primary, 15%);
$colour-white: #ffffff;
$colour-black: #000000;

// Dark mode colours
$colour-dark-mode-main: #2E2B29;
$colour-dark-mode-highlight: #3D3D3D;
$colour-dark-mode-white: #f2f2f2;
$colour-dark-mode-black: #1f1f22;

// Style
$border-radius-default: 5px;
$section-divider: 3em;
