body {
  @include container(25em);
  padding-left: 0.5em;
  padding-right: 0.5em;
}

$section-divider: 3em;

section,
aside,
article {
  margin-top: $section-divider;
  margin-bottom: $section-divider;
}

[role="contentinfo"] {
  margin-top: $section-divider;
}