<perch:before>
<ul class="hfeed"></perch:before>
    <li class="hentry">
        <h2><a href="post.php?s=<perch:blog id="postSlug" />" rel="bookmark" class="entry-title"><perch:blog id="postTitle" /></a></h2>
        <perch:if exists="image"><img src="<perch:blog id="image" type="image" width="50" height="50" crop="true" />" alt="<perch:blog id="postTitle" />" /></perch:if>
        <p class="entry-published date"><perch:blog id="postDateTime" format="%d %B %Y" /></p>
        <div class="description entry-summary">
        <perch:blog id="excerpt" encode="false" />
        <a href="post.php?s=<perch:blog id="postSlug" />">Read article&hellip;</a>
        </div>
    </li>
<perch:after>
    </ul>

    <perch:if exists="paging">
        <div class="paging">
            <p>Page <perch:blog id="current_page" /> of <perch:blog id="number_of_pages" /></p>
            <perch:if exists="not_last_page">
                <a href="<perch:blog id="next_url" encode="false" />" class="next">View next page &raquo;</a>
            </perch:if>
            <perch:if exists="not_first_page">
                <a href="<perch:blog id="prev_url" encode="false" />" class="previous">&laquo; View previous page</a>
            </perch:if>
        </div>
    </perch:if>
</perch:after>


