<!doctype html>
<html lang="en">
    {% include "head.html" %}
    <body>
        {% include "header.html" %}
        <main id="main" role="main">
            <h1>{{ heading if heading else title | smart | safe }}</h1>
            {% if intro and not hideIntro %}
                <div class="intro">{{ intro | markdown | safe }}</div>
            {% endif %}
            {{ content | safe }}
            {% if tags.length >= 1 and tags.includes('post') %}
                <p><a href="/">View all posts</a></p>
            {% endif %}
        </main>
        {% include "footer.html" %}
    </body>
</html>
